body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30,30,30);
    margin-left: 20px;
}

.game {
    width: 600px;
    border: solid 2px rgb(150,150,150);
}

#page-header {
    margin: 10px;
    font-size: 1.7em;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#game-instructions {
    color: rgb(70,70,70);
    background-color: rgb(220,220,220); 
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

#random-number {
    background-color: rgb(180, 235, 235);
    width: 44%;
    display: inline-block;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    float: left;
}

#number-to-guess {
    font-size: 1.8em;
}

#record-keeper {
    background-color: rgb(180, 235, 235);
    width: 44%;
    display: inline-block;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    float: left;
}

#crystal-buttons {
    background-color: rgb(220, 200, 230);
    padding: 10px 0px 10px 43px;
    margin: 123px 10px 0px 10px;
}

.crystal-btn {
    width: 80px;
    height: 100px;
    border: solid 2px white;
    padding: 4px;
    margin-left: 10px;
}

#player-score {
    font-size: 1.5em;
    margin: 10px;
    background-color: rgb(200, 235, 180);
    padding: 20px 10px 20px 10px;
}